[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  token = "{{ lookup('onepassword', 'HKRoad Ansible Passwords', section="THOR", field='influxdb telegraf token') }}"
  organization = "hkroad"
  bucket = "8dc3804c298f0ae8"
