[Unit]
Description={{ description }}
After=docker.service
Requires=docker.service{% if lvm is defined %}{% for lvm in lvm %} mnt-{{ lvm.name }}.mount{% endfor %}{% endif %}{{''}}

# https://blog.container-solutions.com/running-docker-containers-with-systemd
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %i
ExecStartPre=-/usr/bin/docker rm %i
ExecStartPre=/usr/bin/docker pull {{ docker_hub_image }}
ExecStart=/usr/bin/docker run --rm --name %i \
  {{ docker_options|indent(width=2)+"\n" if docker_options is defined }}
{%- if docker_ports is defined %}
{%- for k,v in docker_ports.items() %}
  -p {{ k }}:{{ v }} \
{% endfor %}
{% endif %}
{%- if docker_env is defined %}
{%- for k,v in docker_env.items() %}
  -e {{ k }}={{ v }} \
{% endfor %}
{% endif %}
{%- if docker_vols is defined %}
{%- for k,v in docker_vols.items() %}
  -v {{ k }}:{{ v }} \
{% endfor %}
{% endif %}
  {{ docker_hub_image }}

[Install]
WantedBy=multi-user.target
