[Unit]
Description=Mount {{ item.vg }} {{ item.name }} 

[Mount]
What=/dev/mapper/{{ item.vg }}-{{ item.name }}
Where=/mnt/{{ item.name }}
Type=ext4
Options=defaults{{ "," + item.mount_options if item.mount_options is defined}}

[Install]
WantedBy=multi-user.target