[Unit]
Description=Home Assistant Container
After=docker.service
Requires=docker.service

# https://blog.container-solutions.com/running-docker-containers-with-systemd
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=--/usr/bin/docker stop %i
ExecStartPre=--/usr/bin/docker rm %i
ExecStartPre=/usr/bin/docker pull homeassistant/raspberrypi3-homeassistant:stable
ExecStart=/usr/bin/docker run --rm --name %i \
    --init \
    -v {{ haconfigdir }}:/config \
    -v /etc/localtime:/etc/localtime:ro \
    -e "TZ={{ timezone }}" \
    -e PUID={{ getent_passwd["homeassistant"][1] }} \
    -e GUID={{ getent_passwd["homeassistant"][2] }} \
    --net=host \
    --device /dev/ttyACM0 \
    homeassistant/raspberrypi3-homeassistant:stable

[Install]
WantedBy=multi-user.target
