[source]
serial_port = /dev/ttyUSB0

[mysql]
mysql_out = false
mysql_host = {{ mysql_host }}
mysql_user = {{ mysql_user }}
mysql_passwd = {{ mysql_pass }}
mysql_insert_period = 10

[openenergymonitor]
oem_out=true
oem_token={{ oem_token }}
oem_url=https://emoncms.org/input/post


[influxdb]
influxdb_out = true
influxdb_host = 192.168.0.15
influxdb_username = btmon
influxdb_password = {{ lookup('onepassword', 'HKRoad Ansible Passwords', section='THOR', field='influxdb btmon pass') }}
influxdb_database = btmon
influxdb_measurement = energy
influxdb_mode = row
influxdb_map = volts,volts,
  500167_ch1_aws,mains,
  500167_ch2_aws,hvac,
  500167_aux1_ws,aux1,
  500167_aux2_ws,aux2,
  500167_aux3_ws,aux3,
  500167_aux4_ws,aux4,
  500167_aux5_ws,aux5
influxdb_db_schema = counters

